<!DOCTYPE html>
<html>  
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="Y01HFfWeuTAGVAxko3E2vpLQaYo4hlvidJlIJG9tv04" />
    <title>Welcome - Career Recommendation</title>  
    <style>  
        body{  
            font-family: Arial;  
           background: url("page 1.jpg"); 
          color: white;  
        text-align: center;  
        margin-top: 150px;  
    }

.box {
text-align: center;

}
p{
font-size: 32px;
font-weight: bold;
}
.btn{
margin-top: 250px;
}
button{
background: skyblue;
color: white;
padding: 15px;
width: 200px;
font-size: 20px;
border-radius: 80px;
  border: none;
cursor: pointer;
}
</style>

</head>  
<body>  
  <div class="box">  
<p>Welcome to Career Recommendation System</p>  
<br>  
  </div>  
  <div class="btn">  
<button onclick="location.href='info'">Get Started</button>  
  </div>  
</body>  
</html>   
