<!DOCTYPE html>
<html>  
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="Y01HFfWeuTAGVAxko3E2vpLQaYo4hlvidJlIJG9tv04" />
    <title>AI Career Recommendation System | Career Navigator</title>
<meta name="description" content="AI powered career recommendation system that helps students find the best career path based on interests and skills.">
    <style>  
        body{  
            font-family: Arial;  
           background: url("page 1.jpg") no-repeat center center fixed; 
background-size: cover;
          color: white;  
        text-align: center;  
    
    }

.box {
text-align: center;
position: relative;
margin-top: 10px;
}
p{
font-size: 60px;
font-weight: bold;
}
.btn{
margin-top: 550px;
}
button{
background: deepskyblue;
color: white;
padding: 15px;
height: 70px;
width: 160px;
font-size: 30px;
border-radius: 80px;
  border: none;
cursor: pointer;
}
</style>

</head>  
<body>  
  <div class="box">  
<p>Welcome to Career Recommendation System</p>  
<br>  
  </div>  
  <div class="btn">  
<button onclick="location.href='info'">Start</button>  
  </div>  
</body>  
</html>   
