<!DOCTYPE html>
<html>
<head>
<title>Account</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

body{
height:100vh;
margin:0;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;
background:
linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
url("page 3.jpg") no-repeat center center fixed;
background-size:cover;
}

.container{
width:350px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(20px);
padding:40px;
border-radius:20px;
text-align:center;
color:white;
}

.title{
font-size:32px;
margin-bottom:20px;
}

.toggle{
display:flex;
justify-content:center;
margin-bottom:20px;
}

.toggle button{
flex:1;
padding:10px;
border:none;
cursor:pointer;
background:#222;
color:white;
}

.toggle button.active{
background:#007bff;
}

input{
width:90%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:none;
font-size:16px;
}

.main-btn{
width:95%;
padding:12px;
border:none;
border-radius:8px;
background:#007bff;
color:white;
cursor:pointer;
font-size:16px;
}

.switch-text{
margin-top:15px;
font-size:14px;
}

.switch-text span{
color:#4ea3ff;
cursor:pointer;
}

</style>
</head>

<body>

<div class="container">

<div class="title" id="formTitle">Login</div>

<div class="toggle">
<button id="loginTab" class="active">Login</button>
<button id="registerTab">Register</button>
</div>

<input type="email" id="email" placeholder="Enter Email">
<input type="password" id="password" placeholder="Enter Password">

<button class="main-btn" id="submitBtn">Login</button>

<div class="switch-text">
<span id="switchMode">Don't have an account? Register</span>
</div>

</div>


<script>

let mode="login";

const title=document.getElementById("formTitle");
const submitBtn=document.getElementById("submitBtn");
const loginTab=document.getElementById("loginTab");
const registerTab=document.getElementById("registerTab");
const switchMode=document.getElementById("switchMode");

function setLogin(){

mode="login";

title.innerText="Login";
submitBtn.innerText="Login";

loginTab.classList.add("active");
registerTab.classList.remove("active");

switchMode.innerText="Don't have an account? Register";

}

function setRegister(){

mode="register";

title.innerText="Register";
submitBtn.innerText="Register";

registerTab.classList.add("active");
loginTab.classList.remove("active");

switchMode.innerText="Already have an account? Login";

}

loginTab.onclick=setLogin;
registerTab.onclick=setRegister;

switchMode.onclick=function(){

if(mode==="login"){
setRegister();
}else{
setLogin();
}

};

</script>

<script type="module" src="/js/auth.js"></script>

</body>
</html>
